* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: HelveticaNeue-Thin;
  font-size: 18px;
  /*background: #0c2242;*/
    background: #000;
    background-image: url('background-9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 1px 10px;
    clear: right;
}

#nav-anchor a {
  color: #8f9eb3;
}

#nav-anchor a:hover {
  color: #82bfdd;
}

ul#smi a {
  line-height: 3.0em;
  color: #fff;
}

.jumbotron {
  border-radius: 0 !important;
  border-bottom-left-radius: 60px !important;
  border-bottom-right-radius: 20px !important;
  border-left: 1.2px solid #f0f2f5;
  border-right: 1.2px solid #f0f2f5;
  border-bottom: 1.2px solid #f0f2f5;
  height: 270px;
  padding-top: 10px !important;
  /*background-color: #e8eef7;*/
    background-color: rgba(0,0,0,.2) !important;
    color: #f0f2f5;
}

#jumbo-body.jumbotron {
  border-radius: 0 !important;
  border-bottom-left-radius: 60px !important;
  border-bottom-right-radius: 20px !important;
  border-top: none;
  border-left: .8px solid #f0f2f5;
  border-right: .8px solid #f0f2f5;
  border-bottom: .8px solid #f0f2f5;
  height: 120px;
  padding-top: 10px !important;
  /*background-color: #e8eef7;*/
    background-color: lightgray !important;
    color: #f0f2f5;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 4px;
    border: 0;
  }

  .bgimg-1 {
    background-image: url('background.jpg');
    min-height: 380px;
    position: relative;
    opacity: .4;
    background-color: #fff;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .bgimg-2 {
    background-image: url('atom-screen.png');
    min-height: 380px;
    position: relative;
    opacity: .4;
    background-color: #fff;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .bgimg-3 {
    background-image: url('resume_MBF.jpg');
    background-color: #fff;
    min-height: 800px;
    position: relative;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .bgimg-4 {
    background-image: url('motion.jpg');
    background-color: #fff;
    min-height: 610px;
    position: relative;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

  }

  #footer-container-fluid.container-fluid {
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    background-color:#8f9eb3;
    padding: 0px !important;
    font-size: 13px;
    text-align: center;
    color: #000;
  }

#smi > li {
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
  line-height: 2.5em;
}

#smi-div-icons img {
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin: 0 8px;
  border-radius: 100%;
  background-color: #fff;
  padding: 2px;
}

#app-img-table {
  position: relative;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid #8f9eb3;
  margin: 0 auto;
  background-color: #000;
}

@media only screen and (max-width: 1168px) {
    .jumbotron {
      height: 330px;

  }
}

@media only screen and (max-width: 960px) {

  .jumbotron {
    height: 380px;
  }
}

@media only screen and (max-width: 768px) {

  .jumbotron {
    height: 420px;
  }
}

@media only screen and (max-width: 568px) {

  .jumbotron {
    height: 490px;
  }
}
