/*@import url('https://fonts.googleapis.com/css?family=Oswald:800|Cinzel:400:700|Abel|Cormorant+Garamond:400i');*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: HelveticaNeue-Thin;
  font-size: 18px;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  background: #fff;
  background-image: url('background-9a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
height: 30px;
line-height: 30px;
}

/*nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {*/
/*height: 30px;*/
/*line-height: 30px;*/
/*background-color: #841a1a;*/
/*}*/

/*nav a {
height: 40px;
line-height: 30px;
background-color: #841a1a;
}*/

/*nav .button-collapse i {
height: 20px;
line-height: 30px;
background-color: #841a1a;
}*/

.footer {
position: sticky;
background-color:#8f9eb3;
width: 100%;
font-size: 13px;
text-align: center;
}

#smi > li {
display: inline-block;
text-align: center;
margin-bottom: 25px;
line-height: 2.5em;
font-size: 13px;
color: #fff;
}

#smi-div-icons img {
width: 50px;
height: 50px;
background-color: transparent;
margin: 0 8px;
border-radius: 100%;
background-color: #fff;
padding: 2px;
}

nav i, nav > li > a {
    position: relative;
    display: block;
    padding: 1px 20px;
    clear: right;
}

#nav-anchor a {
  color: #8f9eb3;
}

#nav-anchor a:hover {
  color: #82bfdd;
}*/

ul#smi a {
  line-height: 3.0em;
  color: #fff;
}

.jumbotron {
  border-radius: 0 !important;
  border-bottom-left-radius: 60px !important;
  border-bottom-right-radius: 20px !important;
  border-left: 3px solid #f0f2f5;
  border-right: 3px solid #f0f2f5;
  border-bottom: 3px solid #f0f2f5;
  height: 270px;
  padding-top: 13px !important;
  background-color: #e8eef7;
    background-color: rgba(0,0,0,.75) !important;
    color: #f0f2f5;
}

#jumbo-body.jumbotron {
  border-radius: 0 !important;
  border-bottom-left-radius: 60px !important;
  border-bottom-right-radius: 20px !important;
  border-top: none;
  border-left: .8px solid #f0f2f5;
  border-right: .8px solid #f0f2f5;
  border-bottom: .8px solid #f0f2f5;
  height: 120px;
  padding-top: 10px !important;
  background-color: #e8eef7;
    background-color: lightgray !important;
    color: #f0f2f5;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 4px;
    border: 0;
  }

  .bgimg-1 {
    background-image: url('keyboard.jpg');
    min-height: 510px;
    position: relative;
    opacity: 1.0;
    background-color: #fff;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .bgimg-2 {
    background-image: url('atom-screen.png');
    min-height: 380px;
    position: relative;
    opacity: .4;
    background-color: #fff;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .bgimg-3 {
    background-image: url('resume_MBF.jpg');
    background-color: #fff;
    min-height: 800px;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .bgimg-4 {
    background-image: url('motion.jpg');
    background-color: #fff;
    min-height: 600px;
    position: relative;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

  }

  #footer-container-fluid.container-fluid {
    background-color:#8f9eb3;
    font-size: 13px;
    text-align: center;
  }

#smi > li {
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
  line-height: 2.5em;
}

#smi-div-icons img {
  width: 50px;
  height: 50px;
  background-color: transparent;
  /*margin: 0 8px;*/
  border-radius: 100%;
  background-color: #fff;
  padding: 2px;
}

#app-img-table {
  position: relative;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid #8f9eb3;
  margin: 0 auto;
  background-color: #000;
}

@media only screen and (max-width: 1168px) {
    .jumbotron {
      height: 330px;

  }
}

@media only screen and (max-width: 960px) {

  .jumbotron {
    height: 380px;
  }
}

@media only screen and (max-width: 768px) {

  .jumbotron {
    height: 420px;
  }
}

@media only screen and (max-width: 568px) {

  .jumbotron {
    height: 490px;
  }
}
